
<% if notice %>
  <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif alert %>
  <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
